:root {
    ---mainfont: Helvetica, Arial, sans-serif;
    --text_color: #1c1e21;
}

body {
    font-family: var(---mainfont);
    min-height: 100vh;
    height: 100vh;
    background-color: #f2f4ffc4;


}


.login_body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70%;
}



.login_logo {
    display: flex;
    width: 80vw;
    height: 7rem;
    /* background-color: red; */
    margin: 0 auto;
}

.login_logo img {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.warning{
    display: flex;
    width: 85vw;
    border: 1px solid #d93025;
    background-color: #d930251a;
    position: relative;
    padding: 0px 0.4rem;
}

.warning i{
    position: relative;
    top: 0.2rem;
    font-size: 2.2rem;
    color: #d93025;
}

.warning p{
    font-family: var(---mainfont);
    font-weight: 200;
    font-size: 0.8rem;
    padding: 0.5rem;
    margin: 0 auto;
    text-align: justify;
    color: #d93025 ;
}

/* .contact h2 {
    font: 40px;
    text-align: center;
    margin-bottom: 10px;

} */

.contact form {
    width: 85vw;
    margin: 0 auto;

}

form .input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-box .input-field {
    width: 100%;
    font-size: 17px;
    /* padding: 14px 16px; */
    /* width: 330px; */
}

.field {
    font-family: var(---mainfont);
}

.field .item {
    width: 100%;
    padding: 18px;
    /* background: transparent; */
    border: 2px solid #e2e3e9b8;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    margin: 12px 0;
}

.field.error .item {
    border-color: #d93025;
}

.field .item::placeholder {
    font-family: var(---mainfont);
}

.field .item:focus {
    border-color: #d7d7d7;
}

.field .error-txt {
    font-size: 16px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
    font-family: var(---mainfont);

}

.field.error .error-txt {
    display: block;
}

.field .textarea-field .item {
    resize: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}


form button:hover {
    box-shadow: none;
}

.submit_btn {
    margin-top: 1rem;
    width: 100%;
}